.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

form {
  width: 500px;
}

form input {
  width: 100%;
  max-width: 100%;
}

form > * {
  margin: 20px;
}

h1 {
  margin-bottom: 40px;
  font-size: x-large;
}

form > div > * {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

.help-container {
  padding: 60px;
}

svg {
  cursor: pointer;
}
